.banner{
    background:url("567.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 13rem;
    padding-bottom:10rem;
    text-align: center!important;
    color: rgb(4, 0, 129)!important;
    font-size:xx-large;
    background-color:rgb(248, 249, 250);
}
.slogan{
    background-color:rgb(4, 0, 129)!important;
    color:aliceblue;
    text-align: center!important;
    width: 100%;
}
.row{
    background-color:#769ff0cb;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;
}
.block_3{
    flex:0 0 auto;
    width: 30%;
    margin:10px;
}
.block_2{
    flex:0 0 auto;
    width:50%;
}
.text-content{
    text-align: center!important;
    width: 100%;
}
.footer{
    background-color:#769ff0cb;
    margin:1px;
    padding:10px;
}
.link{
    color:navy;
    text-align:left
}
.cell_text{
    width:50%;
    padding-left:5rem;
    padding-right:5rem;
}
.cell_img{
    width:50%;
}
.img{
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width:100%;
    height:100%;
}
.cell{
    text-align:justify;
    padding:1.5em;
}
.p1{
    font-size:120%;
}
a:hover{
    font-size:120%;
}
h1{
    background-color:aliceblue;
    text-align:center;}
h2:hover{
    color:rgb(2, 5, 58);
}
.row1{
    background-color:rgba(255, 255, 255, 0.795);
    display: flex;
    flex-wrap: wrap;
    margin-top: -1;
    max-width: 100%;}
.banner1{
    background-size: cover;
    text-align: center!important;
    color: rgb(143, 11, 11)!important;
    font-size:xx-large;
    background-color:rgb(248, 249, 250);
}
.cell_text:hover{
    color:darkred;
    font-size:150%;
}
.slogan1{
    background-color:rgb(4, 0, 129)!important;
    text-align: center!important;
    width: 100%;}